@charset "UTF-8";
/* CSS Document */


.row {
	align-content: center;
	width: 100%;
	height: auto;
	background-color: #ccc;
	border: 1px solid black;
	box-sizing: border-box;
	margin: 20px;
}

.top {
	clear: both;
	height: 100px;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.bottom {
	clear: both;
	height: 100px;
	width: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #ccc;
}

.flex-container {
	display: flex;
	flex-grow: 0;
	background-color: transparent;
	margin: 20px;
	padding: 0;
	align-content: center;
	width: 100%;
	height: auto;
}

.column-left {
	width: 65%;
	height: 500px;
	background-color: #ccc;
	display: flex;
	flex-wrap: wrap;
	border: 1px solid black;
	box-sizing: border-box;
	padding-right: 10px;
	margin-right: 10px;
}

.column-right {
	width: 30%;
	height: 500px;
	background-color: #ccc;
	display: flex;
	flex-wrap: wrap;
	border: 1px solid black;
	box-sizing: border-box;
	padding-left: 10px;
	margin-left: 10px;
}

body {
	margin: 0px;
}
